body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


header.MuiAppBar-colorSecondary-44 {
  background-color: #6b9ad6;
}

div.sc-cSHVUG.kyGaDX {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9abdea;
}
