body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


header.MuiAppBar-colorSecondary-44 {
  background-color: #6b9ad6;
}

div.sc-cSHVUG.kyGaDX {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #9abdea;
}

.MuiButton-containedPrimary-509.MuiButton-raised-373.MuiButton-raisedPrimary-374{
  background-color: #ff9490;
}

.sc-jzJRlG.jhwxwJ {
  filter: none;
}

.sc-jzJRlG.bSLCPg {
  filter: none;
}

.sc-jzJRlG.kRnQfC {
  filter: none;
}

.sc-jzJRlG.ieCdrq {
  filter: none;
}

.sc-jzJRlG.cMWYTH {
  filter: none;
}

.sc-jzJRlG.dKOKOF {
  filter: none;
}

.sc-jzJRlG.hKkAke {
  filter: none;
}

.sc-jzJRlG.lnawon {
  filter: none;
}

.sc-jzJRlG.eSSRkZ {
  filter: none;
}

.sc-jzJRlG.fItBgq {
  filter: none;
}

.sc-jzJRlG.dUfDMr {
  filter: none;
}

.sc-jzJRlG.iUwpZX {
  filter: none;
}

.jss1.jss7.jss37.jss41.jss44.jss36 {
  background-color: #aee8de;
}

.footer {
text-align: center;
vertical-align: middle;
line-height: 30px;
background-color: #f1f1f1;
}
